.bbhover{
	background-color: #ccc; padding: 10px; color:#000;
	margin-top: 10px;
}
.main_img_con{
	width: 300px;
	height: 300px !important;
	object-fit: cover;
}
.main_div_con{
	width: 100%;
	margin-bottom: 10px;
	display: flex;
	position: relative;
}
.starting_bbhover{
	display: none;
}

.down_arrow{
	user-select: none;
	cursor: pointer;
}

